.right-links, left-links{
    display: flex;
    gap: 20px;
    flex: 0 1 auto;
}
body{
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    gap: 700px;
}
.right-links{
    margin-right:50px ;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 100px;
    max-width: 1639px;
}
.awesome{
    display: flex;
    flex-direction: column;
    color:#F9FAF8;
    max-width: 400px;
    margin-right:50px ;
}
p{
    flex-wrap: wrap;
    color: #E5E7EB;
}
.left-links{
    margin-left: auto;

}
.right-links{
    margin-right: auto;
}
h1{
    font-size: 48px;
    margin-bottom: -10px;
    font-weight: bolder;
}
.hero img{
    width: auto;
    max-height: 270px;
    flex: 0 1 auto;
    margin-bottom: 200px;
}
.Hero-button{
    border-radius: 10px;
    width: 125px;
    background-color: #3b82f6;
    outline: 0;
    border: none;
    color: #F9FAF8;
    height: 35px;
    font-weight: bold;
}
.random{
    display: flex;
    background-color: #ffffff;
    justify-content: center;
}
.random h1{
    color: #1f2937;
    align-self: center;
    margin-bottom: 45px;
    margin-top: 45px;
    font-size: 36px;
    font-weight: 900;
}